.heading-a {
	font-family: 'Inter-Bold', "Arial", sans-serif;
	font-size: 96px;
	line-height: 93px;
	letter-spacing: 1px;
	text-align: center;
}

.heading-b {
	font-family: 'Inter-Bold', "Arial", sans-serif;
	font-size: 72px;
	line-height: 65px;
	letter-spacing: 1px;
	max-width: 800px;
	margin: 0 auto;
}

.heading-b_align_center {
	text-align: center;
	line-height: 78px;
}

.heading-c {
	font-family: 'Inter-Bold', "Arial", sans-serif;
	font-size: 54px;
	line-height: 59px;
}